<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10576407763-73s6dqgfa2afa1iii9uss8l2vkudqo96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10576407763-73s6dqgfa2afa1iii9uss8l2vkudqo96</string>
	<key>API_KEY</key>
	<string>AIzaSyAwFQ8P9HcuNdimFK1g0eBu9XFYpF0LOhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>10576407763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.LumiHR</string>
	<key>PROJECT_ID</key>
	<string>lumihr-285301</string>
	<key>STORAGE_BUCKET</key>
	<string>lumihr-285301.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:10576407763:ios:06ac22790fd2261e96b826</string>
	<key>DATABASE_URL</key>
	<string>https://lumihr-285301.firebaseio.com</string>
</dict>
</plist>
